<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"> <!-- Add tools namespace -->
  
  <!-- Permissions -->
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <!-- Queries for deep links -->
  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW"/>
      <category android:name="android.intent.category.BROWSABLE"/>
      <data android:scheme="https"/>
    </intent>
  </queries>

  <application 
      android:name=".MainApplication" 
      android:label="@string/app_name"
      android:icon="@mipmap/app_icon" 
      android:allowBackup="true">

    <!-- Main Activity -->
    <activity 
        android:name=".MainActivity" 
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|uiMode" 
        android:launchMode="singleTask" 
        android:windowSoftInputMode="adjustResize" 
        android:theme="@style/Theme.App.SplashScreen" 
        android:exported="true" 
        android:screenOrientation="portrait">

      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <!-- Development Settings Activity -->
    <activity 
        android:name="com.facebook.react.devsupport.DevSettingsActivity" 
        android:exported="true"
        tools:replace="android:exported"/> <!-- Use tools:replace here -->
  </application>
</manifest>
